<h1>Create new order</h1>

<form method="POST" action="/order/create">
    <input type="text" name="name" placeholder="Reference Number">
    <input type="text" name="price" placeholder="Customer Name">
    <input type="date" name="date" placeholder="Date">
    
    <br><input type="submit">
</form>
