<h1>Edit item</h1>

<form method="POST" action="/item/edit">
    <input type="text" name="name" value="">
    <input type="number" name="price" value="">
    <p>Select category</p>
    <% categories.each do |category| %>
      <input type="radio" id="<%= category.id %>" name="category" value="<%= category.id %>">
      <label for="<%= category.id %>"><%= category.name %></label><br>
    <% end %>
    <br><input type="submit" value="Update">
</form>
