<!DOCTYPE html>
<html>
<head>
<title>Item</title>
</head>
<body>

<form action="/item" method="post">
    <label for="name">Nama:</label>
    <input type="text" id="name" name="name"><br>

    <label for="harga">Harga:</label>
    <input type="text" id="harga" name="harga"><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>