<h1>Categories with Items</h1>

<table>
    <tr>
        <th>No.</th>
        <th>Category Name</th>
        <th>Item Name</th>
    <tr>
    <% index = 1 %>
    <% categories.each do |category| %>
    <tr>
        <td style="text-align:center"><%= index %></td>
        <td style="text-align:center"><%= category.name %></td>
        <td style="text-align:center"><%= category.items %></td>
    <tr>
    <% index += 1 %>
    <% end %>
</table>
